*{
    margin: 0;
    padding: 0;
}
.main{
    background:url(https://wallpapercave.com/wp/8iAP1eI.jpg);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    background: rgba(255, 255, 255, 0.034);
}
.heading{
    margin-bottom: 50px;
    font-size:60px;
    font-weight:500;
    
}
@media screen and (max-width:500px) {
    .heading{
        font-size: 30px;
        text-align: center;
        margin-bottom: 60px;
    }
}
.banner{
    display: flex;
    flex-direction: column;
    background: rgba(128, 128, 128, 0.87);
    padding: 15px 20px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}
.cbtn{
    background: rgb(255, 66, 66);
}
.cbtn:hover{
    background: rgb(0, 255, 85);
}
.output{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.disp{
    height: 50px;
    outline: none;
    border: none;
    margin-left: 1px;
    margin-right: 4px;
    font-size: 20px;
    padding: 0px 10px;
    width: 150px;
    border-radius: 2px;
}
.btns{
    outline: none;
    padding: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(205, 118, 92);
}
.btns:hover{
    background-color: rgba(230, 230, 250, 0.637);
}
.opr{
    background-color: rgba(78, 205, 255, 0.925);}
.opr:hover{
    background: rgba(255, 51, 0, 0.623);
}